{% load static %} {% static "" as baseUrl %}
<div class="main-header">
  <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
    <div class="container-fluid">
 

      <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
       

        <!-- User Profile -->
        <li class="nav-item topbar-user dropdown hidden-caret">
          <a
            class="dropdown-toggle profile-pic"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="avatar-sm">
              <img
                src="{% static 'dashboard/assets/img/fran.jpeg' %}"
                alt="..."
                class="avatar-img rounded-circle"
              />
            </div>
            <span class="profile-username">
              <span class="op-7">Hi,</span>
              <span class="fw-bold">{{ user.username }}</span>
            </span>
          </a>
          <ul class="dropdown-menu dropdown-user animated fadeIn">
            <li>
              <div class="user-box">
                <div class="avatar-lg">
                  <img
                    src="{% static 'dashboard/assets/img/fran.jpeg' %}"
                    alt="image profile"
                    class="avatar-img rounded"
                  />
                </div>
                <div class="u-text">
                  <h4>{{ user.username }}</h4>
                  <a
                    href="/admin"
                    class="btn btn-xs btn-secondary btn-sm"
                  >
                    Admin Site
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
