{% load static %} 
{% static "" as baseUrl %}

<div class="sidebar collapsed" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="{% url 'home' %}" class="logo">
        <img
          src="{% static 'dashboard/assets/img/kaiadmin/logo_light.svg' %}"
          alt="navbar brand"
          class="navbar-brand"
          height="20"
        />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <!-- TRIPS -->
        <li class="nav-item active">
          <a href="{% url 'home' %}">
            <i class="fas fa-truck-moving"></i>
            <p>TRIPS</p>
          </a>
        </li>
        <!-- SENSORS -->
        {% if 'detail' in request.path or 'analysis' in request.path %}
        <li class="nav-item">
          <a href="{{ request.META.HTTP_REFERER|default:'#' }}">
            <i class="fas fa-tags"></i>
            <p>SENSORS</p>
          </a>
        </li>
        {% endif %}
        {% if 'add_records' in request.path %}
            {% with pk=request.path|slice:"13:"|cut:"/" %}
                <li class="nav-item">
                  <a href="{% url 'detail_trip' pk %}">
                    <i class="fas fa-tags"></i>
                    <p>SENSORS</p>
                  </a>
                </li>
            {% endwith %}
        {% endif %}
      </ul>
    </div>
  </div>
</div>
