{% extends "web/root/origin.html" %}
{% load static %}

{% block title %}
  {{ nameWeb }} - {{ title }}
{% endblock %}

{% block body %}
<div class="container">
  <div class="page-inner">
    <h3 class="fw-bold mb-3">{{ sensor.device }} - {{ sensor.serial_number }}</h3>
    <p>{{ sensor.description }}</p>

    <div class="row">
      <!-- Decision Messages -->
      <div class="col-sm-6 col-md-6">
        <div class="card card-stats card-round">
          <div class="card-header">
            <h4 class="card-title">Decision Messages</h4>
          </div>
          <div class="card-body">
            <ul>
              {% for message in decision_messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Max Temperature Card -->
      <div class="col-sm-6 col-md-6">
        <div class="card card-stats card-round">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-icon">
                <div class="icon-big text-center icon-secondary bubble-shadow-small">
                  <i class="fas fa-clock"></i>
                </div>
              </div>
              <div class="col col-stats ms-3 ms-sm-0">
                <div class="numbers">
                  <p class="card-category">Time Range</p>
                  <h4 class="card-title">{{ decimal_days }} days = {{ decimal_hours }} hours</h4>
                  <span>{{ min_date }} - {{ max_date }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-stats card-round">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-icon">
                <div class="icon-big text-center icon-danger bubble-shadow-small">
                  <i class="fas fa-thermometer-full"></i>
                </div>
              </div>
              <div class="col col-stats ms-3 ms-sm-0">
                <div class="numbers">
                  <p class="card-category">Max Temperature</p>
                  <h4 class="card-title">{{ max_temp }}°C</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-icon">
                <div class="icon-big text-center icon-primary bubble-shadow-small">
                  <i class="fas fa-thermometer-empty"></i>
                </div>
              </div>
              <div class="col col-stats ms-3 ms-sm-0">
                <div class="numbers">
                  <p class="card-category">Min Temperature</p>
                  <h4 class="card-title">{{ min_temp }}°C</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Graph -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">LPA, RPI, mRPI, and Temperature Analysis</div>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="combinedChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">DataFrame Analysis</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              {{ df_html|safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extraJs %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const t = {{ t|safe }};
    const LPA = {{ lpa_data|safe }};
    const RPI = {{ rpi_data|safe }};
    const mRPI = {{ mrpi_data|safe }};
    const T = {{ T|safe }};

    const ctx = document.getElementById("combinedChart").getContext("2d");
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: t,
        datasets: [
          {
            label: 'LPA',
            data: LPA,
            borderColor: 'green',
            borderWidth: 2,
            pointRadius: 0,
            yAxisID: 'y',
            tension: 0.4,
          },
          {
            label: 'RPI',
            data: RPI,
            borderColor: 'red',
            borderWidth: 2,
            pointRadius: 0,
            yAxisID: 'y',
            tension: 0.4,
          },
          {
            label: 'mRPI',
            data: mRPI,
            borderColor: 'orange',
            borderDash: [5, 5],
            borderWidth: 2,
            pointRadius: 0,
            yAxisID: 'y',
            tension: 0.4,
          },
          {
            label: 'Temperature',
            data: T,
            borderColor: 'blue',
            borderWidth: 2,
            pointRadius: 0,
            yAxisID: 'y1',
            tension: 0.4,
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: true,
            position: 'bottom',
            labels: {
              usePointStyle: true,
              font: {
                size: 12
              }
            }
          }
        },
        scales: {
          x: {
            title: { display: true, text: 'Time (h)', font: { size: 14 } },
            ticks: {
              stepSize: 5,
              max: 30,
              min: 0,
              font: {
                size: 12
              }
            },
            grid: {
              color: '#e5e5e5',
              borderDash: [2, 2],
            }
          },
          y: {
            title: { display: true, text: 'RPI and LPA', color: 'green', font: { size: 14 } },
            position: 'left',
            grid: {
              color: '#f0f0f0',
              borderDash: [2, 2],
            },
            ticks: {
              stepSize: 0.5,
              max: 3,
              min: 0,
              font: {
                size: 12
              }
            },
          },
          y1: {
            title: { display: true, text: 'Temperature (°C)', color: 'blue', font: { size: 14 } },
            position: 'right',
            grid: {
              drawOnChartArea: false,
            },
            ticks: {
              stepSize: 2,
              max: 12,
              min: 0,
              font: {
                size: 12
              }
            },
          },
        },
      },
    });
  });
</script>
{% endblock %}
